<lasso-page package-path="./browser.json"/>

<section class="bg-primary" id="gallery">
    <div class="container-fluid p-0 text-center">
        <h2 class="section-heading text-white">Gallery</h2>
        <hr class="light my-5">
        
        <div id="photo1" class="row no-gutters popup-gallery">

        </div>
        <div id="click1">
            <button onclick="getPhotos()">Click here to view Photos</button>
        </div>
    </div>

</section>