<lasso-page package-path="./browser.json"/>

<!DOCTYPE html>
<html>
    <body onload="myFunction()">

        <input type="file" id="myFile" multiple size="50" onchange="myFunction()">

        <p id="demo"></p>

        <p><strong>Tip:</strong> Use the Control or the Shift key to select multiple files.</p>

    </body>
</html>
