<lasso-page package-path="./browser.json"/>

<!DOCTYPE html>
<html>
    <body onload="myFunction()">
        <form id="photo-upload-form">
            <input type="file" id="myFile" multiple size="50" onchange="myFunction()">

            <p id="demo"></p>

            <p><strong>Tip:</strong> Use the Control or the Shift key to select multiple files.</p>
            <input type="submit" value="Submit" class="button">
        
        </form>
    </body>
</html>
