/* .hidden>div {
	display:none;
}

.visible>div {
	display:block;
} */

.hidden{
	display: none;
}

#ul-priceList li{
	border-bottom: 1px solid gray !important;	
	padding: 1em 0 1em 0;
}
#ul-priceList li a:hover{
	color: red;
}
#ul-priceList .active{
	background-color:white;/*#212529;*/
}
#ul-priceList .active a{
	color:red;
}

#ul-priceList a{
	color:white
}
td{
	text-align: left;
}
table, td {
	border: 1px solid clear;
	border-bottom: 1px solid gray !important;
	padding: 15px 0 15px 0;
	
  }
table{
	width:100%;
}

.hour{
	text-align: center;
}


