config.js
config.json
node_modules
public/static
public/assets/img/gallery/*
!public/assets/img/gallery/.gitkeep
public/assets/img/upload/*
!public/assets/img/upload/.gitkeep
public/assets/img/portfolio/thumbnails/*
!public/assets/img/portfolio/thumbnails/.gitkeep
.cache
package-lock.json
