'use strict'

let config = {
    serverPort:{},
    homeUrl:{},
    db:{
        database:'',
        user:'',
        password:'',
        host:'lushnailbar-mcdonough.com'
    }
}

module.exports = async function(){
    let port = 
    let url = ':'
    config.serverPort = port
    config.homeUrl = url+port+'/'
    return config
}