<lasso-page package-path="./browser.json"/>

<h1>Sign-in</h1>
<!--
First Name
Last Name
Phone number 
Option: want to talk to someone (yes)/(no)
--pop up - someone will call you while you are waiting if (yes)

Options: 
* Pedicure
* Medicure
* ...
* Other [fill out]
 ---->
 