<lasso-page package-path="./browser.json"/>
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>COVID-19 consent</title>
</head>  
<body>  
  <div id="covid19form" class="container" style="padding-top:50px">
    $!{data.html}
  </div>
</body>
</html>