<lasso-page package-path="./browser.json"/>
import layout from "../layout/template/index.marko"
<${layout} ...data>
    <@title>Acrylic Nail</@title>
    <@content>
        <header class="new-page-header text-center text-white">
            <div>
                <hr>
                <h1>Services</h1>
            </div>
        </header>
        
        
        

    </@content>
</>